dash==2.9.3
dash[diskcache]
dash_bootstrap_components>=1.0.2
dash_daq==0.5.0
dash-uploader==0.6.0
flask==3.0.0
Flask-Caching
numpy>=1.19.5
pandas
Pillow
python-dotenv
requests
tifffile
tiled[client]>=0.1.0a107
gunicorn==20.1.0
werkzeug>=2.2.3
diskcache==5.6.3
